header {
    background-color : skyblue;
    text-align : center;
    margin : 5% 5% 10% 5%;
    padding : 5px 5px 5px 5px;
}
header h2{
    font-size : small;
}

body {
    width : 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: large;
}

body section {
    background-color: aliceblue;
}

body p {
    font-size : larger
}
body article:first-child {
    padding-top : 5%;
    margin-bottom: 5%;
}

body article:last-child {
    padding-bottom: 5%;
    text-align : center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#profileImg{
    float: left;
    width: 30%;
    border-radius: 20%;
    border-width: 2.5px;
    border-style: groove;
    border-color: black;
    margin-left : 10%;
    margin-right : 10%;
}