header {
  background-color : skyblue;
  text-align : center;
  margin : 5% 5% 10% 5%;
  padding : 5px 5px 5px 5px;
  border-radius : 20px 20px 20px 20px;
}
header h2{
  font-size : small;
}

body {
  width : 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: large;
}

main {
  background-color: aliceblue;
  border-radius : 20px 20px 20px 20px;
}

.Info{
  font-size : larger
}

article:first-child {
  padding-top : 7%;
  margin-bottom: 12%;
}

article:last-child {
  padding-bottom: 5%;
  text-align : center;
  font-size : 1.2em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.profileImage{
  float: left;
  width: 30%;
  border-radius: 20%;
  border-width: 2.5px;
  border-style: groove;
  border-color: black;
  margin-left : 10%;
  margin-right : 10%;
}